
*{
     font-family: 'arial';
     font-size: 12px;
     margin: 0px;
     padding: 0px;
}
html{
     height: 500px;
     max-height: 500px;
}
body{
     margin: 5px;
     background: #fff;
     width: 400px;
     max-height: 500px;
     height: 500px;
}
body h1{
     height: 30px;
}
h1{font-size: 18px; text-align: center;}
h2{font-size: 16px; text-align: center;}
h3{font-size: 14px; text-align: center;}
h4{font-size: 12px; text-align: center;}
hr{
     width: 90%;
     text-align: center;
     margin: 0px auto;
}
a{display: inline-block;}
img{vertical-align: bottom;}
ul{list-style-type: none;}

#tab-content-container{
     background: #eee;
     padding: 0px 3px;
     padding-left: 0px;
     float: right;
     clear: right;
     display: inline-block;
     width: 248px;
     height: 469px;
     border: 1px solid black;
     overflow: auto;
}
.tab-content{
     display: none;
}
.tab-content h2{
     padding: 6px;
}
.tab-content ul li a{
     color: #000;
     padding: 3px;
     padding-left: 13px;
     width: 185px;
}
.tab-content a:hover{
     background: #ccc;
     color: #000;
}



#tabs{
     width: 147px;
     height: 470px;
     float: left;
     clear: left;
     display: inline-block;
}
#tabs ul{
     border-bottom: 1px solid black;
     border-top: 1px solid black;
     border-left: 1px solid black;
}               
#tabs ul li{
     background: #9cf;
}
#tabs ul li a{
     padding: 3px 0px 3px 3px;
     color: #000;
     width: 143px;
     text-decoration: none;
}
#tabs ul li:first-child.selected a{
     border-top: 0px;
}
#tabs ul li:last-child.selected a{
     border-bottom: 0px;
}
#tabs ul li.selected{
     background: #eee;
     color: #000;
     width: 147px;
}
#tabs ul li.selected a{
     color: #000;
     width: 144px;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
}
#tabs ul li a:hover{
     background: #333;
     color: #fff;
}

#statusbar{
     float: left;
     clear: both;
     height: 15px;
     width: 350px;
     display: block;
     margin-top: 3px;
}
#ugngce_version{
     margin-top: 5px;
     width: 100%;
     text-align: center;
     font-size: 8pt;
}

#version{
     margin-top: 5px;
     width: 100%;
     text-align: center;
     font-size: 8pt;
}